body {
    background: #66c266;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ParImpar {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px #0003;
    text-align: center;
}

input, button {
    width: 200px;
    padding: 8px;
    margin-top: 10px;
}

button {
    background: white;
    border-width: 1px;
    border-color: black;
    color: black;
    cursor: pointer;
}

button:hover {
    background: #e23e3e;
}

#resultado {
    margin-top: 15px;
    font-weight: bold;
}